/* Fonte Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* Phosphor Icons */
@import url('https://unpkg.com/@phosphor-icons/web@2.0.3/src/regular/style.css');

:root {
  --primitives-color-blue-100: #eaf8ff;
  --primitives-color-blue-200: #c2eaff;
  --primitives-color-blue-300: #99dbff;
  --primitives-color-blue-400: #70cdff;
  --primitives-color-blue-500: #0086cd;
  --primitives-color-blue-600: #0942a1;
  --primitives-color-blue-700: #06327a;
  --primitives-color-blue-800: #111660;
  --primitives-color-blue-900: #060a2d;
  --primitives-color-gray-0: #fafafa;
  --primitives-color-gray-100: #f6f6f6;
  --primitives-color-gray-200: #eeeeee;
  --primitives-color-gray-300: #e5e5e5;
  --primitives-color-gray-400: #d4d4d4;
  --primitives-color-gray-500: #aaaaaa;
  --primitives-color-gray-600: #7f7f7f;
  --primitives-color-gray-700: #555555;
  --primitives-color-gray-800: #2a2a2a;
  --primitives-color-gray-900: #191919;
  --primitives-color-orange-200: #ffe5b4;
  --primitives-color-orange-500: #ffa145;
  --primitives-color-orange-900: #792d0d;
  --primitives-color-red-200: #ffc7b4;
  --primitives-color-red-400: #fe7e71;
  --primitives-color-red-600: #ea2255;
  --primitives-color-red-800: #921535;
  --primitives-color-white: #ffffff;
  --primitives-color-green-200: #deffc8;
  --primitives-color-green-500: #7fe13d;
  --primitives-color-green-900: #245900;
  --primitives-color-purple-blue-100: #d7ddff;
  --primitives-color-purple-blue-200: #adbafe;
  --primitives-color-purple-blue-700: #1b28b5;
  --scale-0: 0px;
  --scale-25: 1px;
  --scale-50: 2px;
  --scale-100: 4px;
  --scale-200: 8px;
  --scale-250: 12px;
  --scale-300: 16px;
  --scale-400: 20px;
  --scale-500: 24px;
  --scale-550: 28px;
  --scale-600: 32px;
  --scale-700: 40px;
  --scale-800: 48px;
  --scale-900: 56px;
  --scale-1000: 64px;
  --scale-1100: 72px;
  --scale-1200: 80px;
  --scale-1400: 96px;
  --scale-1600: 112px;
  --scale-2000: 144px;
  --scale-3000: 200px;
  --semantic-color-primary-100: #eaf8ff;
  --semantic-color-primary-200: #c2eaff;
  --semantic-color-primary-300: #99dbff;
  --semantic-color-primary-500: #0086cd;
  --semantic-color-primary-600: #0942a1;
  --semantic-color-primary-700: #06327a;
  --semantic-color-primary-800: #111660;
  --semantic-color-primary-900: #060a2d;
  --semantic-color-primary-default: #70cdff;
  --semantic-color-neutral-0: #fafafa;
  --semantic-color-neutral-100: #f6f6f6;
  --semantic-color-neutral-200: #eeeeee;
  --semantic-color-neutral-300: #e5e5e5;
  --semantic-color-neutral-400: #d4d4d4;
  --semantic-color-neutral-500: #aaaaaa;
  --semantic-color-neutral-600: #7f7f7f;
  --semantic-color-neutral-700: #555555;
  --semantic-color-neutral-800: #2a2a2a;
  --semantic-color-neutral-900: #191919;
  --semantic-color-neutral-white: #ffffff;
  --semantic-color-warning-light: #ffe5b4;
  --semantic-color-warning-dark: #792d0d;
  --semantic-color-warning-normal: #ffa145;
  --semantic-color-error-light: #ffc7b4;
  --semantic-color-error-dark: #921535;
  --semantic-color-error-normal: #fe7e71;
  --semantic-color-success-light: #deffc8;
  --semantic-color-success-dark: #245900;
  --semantic-color-success-normal: #7fe13d;
  --semantic-color-info-light: #d7ddff;
  --semantic-color-info-dark: #1b28b5;
  --semantic-color-info-normal: #adbafe;
  --border-width-border-0: 0;
  --border-width-border-sm: 1;
  --border-width-border-md: 2;
  --border-width-border-lg: 4;
  --border-radius-rounded-0: 0;
  --border-radius-rounded: 8;
  --border-radius-rounded-md: 16;
  --border-radius-rounded-lg: 20;
  --border-radius-rounded-pill: 64;
  --border-radius-rounded-sm: 12;
  --context-color-text-primary: #2a2a2a;
  --context-color-text-action: #0086cd;
  --context-color-text-action-hover: #0942a1;
  --context-color-text-disabled: #aaaaaa;
  --context-color-text-information: #1b28b5;
  --context-color-text-success: #245900;
  --context-color-text-warning: #792d0d;
  --context-color-text-error: #921535;
  --context-color-text-inverted: #fafafa;
  --context-color-text-secondary: #555555;
  --context-color-text-focus: #0942a1;
  --context-color-text-button-color: #111660;
  --context-color-surface-page: #fafafa;
  --context-color-surface-primary: #ffffff;
  --context-color-surface-success: #deffc8;
  --context-color-surface-disabled: #e5e5e5;
  --context-color-surface-error: #ffc7b4;
  --context-color-surface-info: #d7ddff;
  --context-color-surface-warning: #ffe5b4;
  --context-color-surface-action: #eeeeee;
  --context-color-surface-action-hover: #c2eaff;
  --context-color-surface-inverted: #191919;
  --context-color-surface-secondary: #f6f6f6;
  --context-color-surface-focus: #99dbff;
  --context-color-surface-focus-dark: #0942a1;
  --context-color-surface-focus-light: #eaf8ff;
  --context-color-icon-primary: #2a2a2a;
  --context-color-icon-warning: #792d0d;
  --context-color-icon-success: #245900;
  --context-color-icon-error: #921535;
  --context-color-icon-info: #1b28b5;
  --context-color-icon-disabled: #aaaaaa;
  --context-color-icon-action: #0086cd;
  --context-color-icon-action-hover: #0942a1;
  --context-color-icon-inverted: #fafafa;
  --context-color-icon-secondary: #555555;
  --context-color-icon-focus: #0942a1;
  --context-color-border-primary: #2a2a2a;
  --context-color-border-action: #555555;
  --context-color-border-action-hover: #0086cd;
  --context-color-border-disabled: #e5e5e5;
  --context-color-border-focus: #70cdff;
  --context-color-border-error: #921535;
  --context-color-border-secondary: #e5e5e5;
  --String: String value;
  --spacing-4xs: 4px;
  --spacing-2xs: 12px;
  --spacing-xs: 16px;
  --spacing-sm: 20px;
  --spacing-md: 24px;
  --spacing-lg: 40px;
  --spacing-xl: 56px;
  --spacing-2xl: 64px;
  --spacing-3xl: 80px;
  --spacing-3xs: 8px;
  --spacing-huge: 144px;
  --spacing-pa-1: 4px;
  --spacing-pa-2: 8px;
  --spacing-pa-3: 12px;
  --spacing-pa-4: 16px;
  --spacing-pa-5: 20px;
  --spacing-pa-6: 24px;
  --spacing-pa-7: 28px;
  --spacing-pa-8: 32px;
  --spacing-pa-10: 40px;
  --spacing-pa-12: 48px;
  --spacing-pa-14: 56px;
  --spacing-pa-16: 64px;
  --spacing-px-1: 4px;
  --spacing-px-2: 8px;
  --spacing-px-3: 12px;
  --spacing-px-4: 16px;
  --spacing-px-5: 20px;
  --spacing-px-6: 24px;
  --spacing-px-7: 28px;
  --spacing-px-8: 32px;
  --spacing-px-10: 40px;
  --spacing-px-12: 48px;
  --spacing-px-14: 56px;
  --spacing-px-16: 64px;
  --spacing-py-1: 4px;
  --spacing-py-2: 8px;
  --spacing-py-3: 12px;
  --spacing-py-4: 16px;
  --spacing-py-5: 20px;
  --spacing-py-6: 24px;
  --spacing-py-7: 28px;
  --spacing-py-8: 32px;
  --spacing-py-10: 40px;
  --spacing-py-12: 48px;
  --spacing-py-14: 56px;
  --spacing-py-16: 64px;
  --spacing-ga-1: 4px;
  --spacing-ga-2: 8px;
  --spacing-ga-3: 12px;
  --spacing-ga-4: 16px;
  --spacing-ga-5: 20px;
  --spacing-ga-6: 24px;
  --spacing-ga-7: 28px;
  --spacing-ga-8: 32px;
  --spacing-ga-10: 40px;
  --spacing-ga-12: 48px;
  --spacing-ga-14: 56px;
  --spacing-ga-16: 64px;
  --spacing-ga-17: 72px;
  --spacing-ga-18: 80px;
  --spacing-ga-19: 96px;
  --spacing-ga-20: 112px;
  --spacing-ga-21: 144px;
  --spacing-ga-22: 200px;
  --type-font-family-body: 'Poppins', sans-serif;
}
